<div class="wrapper-content">
    <div class="box-tile">
        <h1>
            <ngx-typed-js
                [strings]="['Poc Bank juros amigo', 'Peça a portabilidade e venha ser Poc Bank hoje mesmo', 'Inovavor digital e seguro']"
                [typeSpeed]="100" 
                [backSpeed]="100" 
                [backDelay]="200" 
                [smartBackspace]="true" 
                [fadeOut]="true"
                [showCursor]="false" 
                [startDelay]="1000" 
                [loop]="true">
                <b class="tag">#</b>
                <span class="typing"></span>
            </ngx-typed-js>
        </h1>
        <button class="btn btn-home-cadastro-clientes" (click)="gotoCadastroClientes()">Crie sua conta</button>
    </div>
    <div class="bg_img">
    </div>
</div>